/**
 * Using Lists
 */

$states: (
	"AL", "DC", "DE", "FL", "GA", "IA", "IL",
	"IN", "KY", "LA", "MD", "MI", "MO", "MS",
	"NC", "NJ", "NY", "OH", "PA", "SC", "TN",
	"VA", "WV"
);

.infographic {
     @each $state in $states {
        &.#{$state} {
            background-image: url("../images/state_infographics/#{$state}.png");
        }
    }
}

$social: (
	"facebook":       '\f204',
	"twitter":        '\f202',
	"linkedin":       '\f207',
	"pinterest":      '\f209',
	"github":         '\f200',
	"dribbble":       '\f201',
	"instagram":      '\f215',
	"email":          '\f410'
);

li.facebook:before {
	content: map-get( $social, "facebook" );
}
