@import "demo3-aux";

/**
 * @each control structure
 */


$social: (
	"facebook":       '\f204',
	"twitter":        '\f202',
	"linkedin":       '\f207',
	"googleplus":     '\f218',
	// "github":         '\f200'
);

.social {
	li {
		float: left;

		a {
			@extend %social;
		}

		@each $network, $content in $social {
			&.#{$network} a:before {
				content: $content;
			}
		}
	}
}
