@import "demo3-aux";

/**
 * @each control structure
 */


$social: (
	"facebook":       '\f204',
	"twitter":        '\f202',
	"linkedin":       '\f207',
	"googleplus":     '\f218',
	// "github":         '\f200'
);

.social {
	li {
		float: left;

		a {
			@extend %social;
		}

		@each $network, $content in $social {
			&.#{$network} a:before {
				content: $content;
			}
		}
	}
}





/**
 * Multidimensional Sass maps FTW!
 */

// $mega-social: (
// 	"facebook":		( content: "\f204", coords: 0 0 ),
// 	"twitter":		( content: "\f202", coords: 0 -64px ),
// 	"linkedin":		( content: "\f207", coords: 0 -128px )
// );

// @each $key, $value in $mega-social {
// 	.sprite .#{$key} {
// 		background-position: map-get( $value, coords );
// 	}

// 	.icon-font .#{$key}:before {
// 		content: map-get( $value, content );
// 	}
// }
