@import "reset";
@import "global";
@import "intro";

/**
 * Typography
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

$open-sans:	"Open Sans", sans-serif;
$normal:	400;
$bold:		700;

html {
	font-family: $open-sans;
	font-size: 24px / 16px * 100%;
}

h1 {
	font-size: 48px / 24px * 1em;
	font-weight: $bold;
	margin-bottom: 1em;
}

/**
 * Clearfix
 */
.clearfix {
	&:after,
	&:before {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

/**
 * Buttons
 */
@import "buttons";

.button {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 2em;
    height: auto;
    line-height: 2;
    opacity: 0.3;
    -webkit-transition: opacity 0.2s linear;
    margin: 10px;

    &:hover {
        opacity: 1;
    }
}

.operator {
	display: block;
	float: left;
	margin-top: 90px;
}
